@charset "UTF-8";

/* color */
$main-color: #4fb1ed;
$base-color: #f1f4f4;
$text-color: #323232;
$blue-base-color: #f0f9ff;
$gradation: linear-gradient(to right, #4f9aed 0%,#4fb1ed 100%);

/* 1.breakpoint */
$breakpoints: (
  'sm': 'screen and (max-width: 479px)',
  'md': 'screen and (max-width: 680px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1100px)',
  '-md': 'screen and (min-width: 681px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
// @include mq(){}
// @include mq(sm){}
// @include mq(lg){}

* {font-weight: bold; font-family:"游ゴシック", YuGothic,"Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; color: $text-color;}
body{
  background-repeat: no-repeat!important;
  background-position: top center!important;
  background-size: cover!important;
  background-attachment: fixed!important;
  @include mq(){background-image: none !important;}
}

//見出し
[data-block-name="見出し(サブタイトル付き)"]{
  h2,h2 span{color: $main-color;letter-spacing: .2rem;}
  .p-heading-has-subtitle{
    padding: 60px 0 0 0;
    @include mq(){padding-top: 30px;}
  }
  .c-heading--bdr-btm {
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 0!important;
  }
  .p-heading-has-subtitle__sub{
    letter-spacing: .2rem;
    span{@include mq(){font-size: 1.8rem !important;}}
  }
}

//btn
.c-btn a {
  animation: fluffy1 3s ease infinite;
}

@keyframes fluffy1 {
  0% { transform:translateY(0) }
  5% { transform:translateY(0) }
  10% { transform:translateY(0) }
  20% { transform:translateY(-15px) }
  25% { transform:translateY(0) }
  30% { transform:translateY(-15px) }
  50% { transform:translateY(0) }
  100% { transform:translateY(0) }
}


  .c-btn a,.btn-customform-submit{
    background: $gradation;
    border:2px solid $main-color;
    color: #fff;
    font-weight: bold;
    position: relative;
    margin-top: 2vw;
    box-shadow: 10px 10px 15px rgba(34, 96, 140, 0.2);
    @include mq(lg){
      padding: 0.8em 0;
      width: 80%;
      display: flex;
      margin: auto;
      justify-content: center;
    }
    &:before{
      font-family: "Font Awesome 5 Free";
      content: "\f0e0";
      vertical-align: top;
      display: inline-block;
      font-weight: 900;
      padding-right: 5px;
      font-size: 2rem;
    }
    &:after{
      position: absolute;
      content: "";
      width: 14px;
      position: absolute;
      background-color: #fff;
      height: 3px;
      top: 50%;
      right: -2px;
      transition: all .3s;
    }
    &:hover{
      background: none;
      background-color: #fff;
      color: $main-color;
      &:after{
        width: 24px;
        right: -12px;
        background-color: $main-color;
      }
    }
  }

//head
#section-2{
  .p-m_navigationMenu{
    a{
      padding: 0;
      margin: auto 5px;
      &:hover{text-decoration: none;}
    }
    li{
      transition: all .3s;
      &:last-of-type:hover{
        border-bottom: none;
        padding-bottom: 0;
      }
      &:hover{
        border-bottom: 3px solid $main-color;
        padding-bottom: 3px;
      }
    }
  }
  .grid-wrapper--lg {
    max-width: 99%;
    margin-right: 0;
    ul{
      padding-right: 0;
      justify-content: flex-end;
      align-items: center;
    }
    li:last-of-type a{
      background: $gradation;
      height: 90px;
      color: #fff;
      padding: 0 20px;
      margin:0 0 0 10px;
      display: flex;
      align-items: center;
      &:before{
        font-family: "Font Awesome 5 Free";
        content: "\f0e0";
        vertical-align: top;
        display: inline-block;
        font-weight: 900;
        padding-right: 5px;
        font-size: 2rem;
        &:hover{color: $main-color;}
      }
      &:hover{
        background: none;
        background-color: $blue-base-color;
        color: $main-color;
        transition: all .3s;
        text-decoration: none !important;
      }
    }
  }
}
@media screen and(min-width:1px) and(max-width:769px){
  #section-2 .p-m_navigationMenu a {
    padding: 10px;
    font-size: 1.4rem;
  }
  #section-2 .grid-wrapper--lg li:last-of-type a{
    height: auto;
    padding: 10px;
    margin: 0;
  }
}

@media screen and(min-width:770px){
  #section-2 .grid-wrapper--lg ul{display: flex;}
}


//main
#section-3{
  .c-bg-img{
    background-size: 80%!important;
    background-position: right!important;
  }
  h2{
    background: $gradation;
    color: #fff;
    font-size: 1.4vw;
    padding: 10px 20px;
    display: inline-block;
    @include mq(){
      width: 90%;
      margin: auto;
      font-size: 3.5vw;
      letter-spacing: 0.2rem;
      text-align: center;
    }
  }
  .c-heading{
    margin-bottom: 0;
    letter-spacing: .3rem;
    @include mq(){display: flex;}
  }
  .u-ptxl{
    padding:0 0 50px;
    @include mq(){
      padding: 40px 0 20px;
      background-size: cover !important;
    }
  }
  .grid-wrapper{
    width: 90%;
    max-width: 1760px;
    margin-right: 0;
    @include mq(){width: 100%;}
  }
  span{@include mq(){display: block;}}
  br{@include mq(){display: none;}}
  [data-custom-pc-fontsize="36px"]{
    font-size: 3.7vw !important;
    letter-spacing: .2rem;
    line-height: 5vw;
    @include mq(){
      font-size: 8vw !important;
      padding-bottom: 6.6vw;
      padding-left: 7vw;
    }
  }
  .col-sm-7{
    flex-basis: 43%;
    max-width: 43%;
    z-index: 2;
    @include mq(){flex-basis: 100%;max-width: 100%;}
  }
  .col-sm-5{
    flex-basis: 57%;
    max-width: 57%;
    margin-left: -3%;
    z-index: 1;
    margin-top: 10px;
    @include mq(){
      flex-basis: 100%;
      max-width: 100%;
      margin-top: -17vw;
    }
  }
  .p-premium-main__img img{
    border: none;
    box-shadow: none;
    background-color: rgba(0,0,0,0);
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    @include mq(){width: 80%;}
  }
  .p-premium-main__img-wrapper{
    padding:0;
    margin-right: -7%;
    @include mq(){margin-bottom: 0;margin-right: 0;}
  }
  .u-mbmd{
    color: $text-color;
    margin: 30px 0;
    line-height: 2.3vw;
    @include mq(){
      margin: 40px 0 20px;
      text-align: center;
      line-height: 2rem;
    }
    [data-custom-pc-fontsize="16px"]{
      font-size: 1.3vw !important;
      @include mq(){font-size: 3.4vw!important;}
    }
  }
}

//テレワーク導入
#section-4{
  .c-wrapper--sm{
    max-width: 1200px;
    width: 80%;
    @include mq(){width: 100%;}
  }
  th{
    background:$gradation;
    color: #fff;
    vertical-align: middle;
    text-align: center!important;
    font-size: 2rem;
    letter-spacing: .3rem;
    position: relative;
    padding: 0 50px;
    &:before{
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      margin-top: -6px;
      border: 6px solid transparent;
      border-left: 6px solid #4fb1ed;
      @include mq(){
        margin-top: 0;
        border-left: 6px solid transparent;
        border-top: 6px solid #4fb1ed;
        left: 47%;
        top: 100%;
      }
    }
  }
  td{
    background-color: $base-color;
    line-height: 3rem;
    font-weight: normal;
    padding: 20px 20px 20px 30px;
    @include mq(){
      padding: 10px;
      line-height: 2.5rem;
      font-size: 1.3rem;
    }
    a{
      text-decoration: none!important;
      background-color: #fff;
      padding: 5px 10px;
      box-shadow: 1px 1px #b3b3b3;
      border-radius: 6px;
      display: inline-block;
      &:hover{background-color: #fffab9;}
    }
  }
}

@media screen and(max-width:988px){
#section-4 br{display: none;}
#section-4 th {
    padding: 10px 0;
    font-size: 1.6rem;
  }
}

//3つのポイント
#section-6{
  .c-inner{padding: 30px 0 50px;}
  .c-wrapper{max-width: 700px;}
  .col-md-4{
    position: relative;
    &:after{
      font-family: "Font Awesome 5 Free";
      content: "\f00d";
      vertical-align: top;
      display: inline-block;
      font-weight: 900;
      padding-right: 5px;
      right: -6%;
      position: absolute;
      top: 19%;
      font-size: 3rem;
      color: $main-color;
    }
    &:last-of-type:after{
      display: none;
    }
  }
}
@include mq(){
#section-6 [data-structure="e-text"]{text-align: center;div{display: inline;}}
}

//共通ボックス
#section-14,#section-15,#section-16{
  .c-wrapper{max-width: 1100px;}
  .center-xs{margin: 0;}
  .col-xs-12{
    background-color: #fff;
    box-shadow: 0 10px 15px rgba(34, 96, 140, 0.2);
    padding: 0;
    border-top: 2px solid $main-color;
    margin: 0 1.5% 2% 1.5%;
    flex-basis: 30%;
    max-width: 30%;
    @include mq(){
      margin: 0 0 4%;
      flex-basis: 100%;
      max-width: 100%;
    }
    [data-structure="e-text"] div{@include mq(){display: inline;}}
  }
  .c-heading,.p-m-card-text{
    padding: 0 25px;
  }
  .c-heading{
    font-size: 2rem;
    letter-spacing: .2rem;
    margin-bottom: 10px;
    h2{
      padding-bottom: 35px;
      line-height: 3.7rem;
      @include mq(){line-height: 2.5rem;}
      div {@include mq(){display: inline;}}
    }
  }
}
#section-15,#section-16{
  .p-m-card-text div{text-align: justify !important;}
}

//ABOUT MERIT
#section-7,#section-14,#section-8,#section-15{
  background-color: $blue-base-color;
}

//SECURITY
#section-17{
  [data-structure="e-text"]{line-height: 3rem;}
  .c-wrapper{max-width: 850px;}
  .col-sm-5{
    max-width: 60%;
    @include mq(){max-width: 80%;margin: auto;}
  }
  .c-img--responsive{
    box-shadow: 100px 20px 0 $blue-base-color;
    margin-bottom: 20px;
  }
  .col-sm{
    margin: auto;
    @include mq(){text-align: center;}
  }
  .c-btn a{
    background: none;
    background-color: #fff;
    color: $main-color;
    border:2px solid $main-color;
    box-shadow: 0 10px 15px rgba(34, 96, 140, 0.2);
    &:before,&:after{display: none;}
    &:hover{
      background:$gradation;
      background-color: rgba(0,0,0,0);
      color: $main-color;
      box-shadow: none;
      color: #fff;
      transition: all .3s;
    }
  }
}

//ご利用料金組み直し

#section-30{
  background-color: #f0f9ff;
  .c-wrapper{max-width: 934px;}
  .c-inner{padding-top: 0;padding-bottom: 1px;}
  thead{display: none;}
  tbody tr td:nth-of-type(1){background-color: $base-color;}
  tbody tr:first-of-type{
    td:nth-of-type(1){background-color: transparent;border-top: none;}
    td:nth-of-type(2){background-color: $main-color; p{color: #fff;}}
    td:nth-of-type(3){background-color: #8cc63f; p{color: #fff;}}
  }
  .c-tr--bdr th, .c-tr--bdr td{
    border-color: $main-color;
    border-right: none;
    vertical-align: middle;
    background-color: #fff;
    &:first-of-type{
      border-left: none;
      @include mq(){width: 30% !important;padding: 3px;}
    }
    &:nth-child(n+4){display: none;}
    p {margin-bottom: 0;}
  }
}
@include mq(){
  #section-30{
    tr{display: flex;}
    .p-table-schedule__td:before{display: none;}
    .p-table-schedule__td-text{width: 100%;padding: 5px;}
  }
}



//PRICE
#section-10,#section-18,#section-26,#section-27{
  background-color: $blue-base-color;
}

#section-26{
  .c-wrapper{max-width: 935px;}
  .c-inner{
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    border:1px solid $main-color;
    line-height: 2.6rem;
    a{
      text-decoration: none!important;
      background-color: #fff;
      padding: 5px 10px;
      box-shadow: 1px 1px #b3b3b3;
      border-radius: 6px;
      &:hover{background-color: #fffab9;}
    }
  }
}

#section-18{
  h2{
    border-left: 4px solid $main-color;
    padding-left: 10px;
    line-height: 1.6rem;
  }
  .c-border{
    background-color: #fff;
    border-radius: 30px;
    border: none;
  }
}
#section-27{
  h2 span{font-weight: normal;}
  strong span{font-weight: bold;}
  .c-btn--sm a{
    width: 100%;
    padding: 15px 0;
  }
  .col-xs-12:nth-of-type(2) .c-btn a {
    background: linear-gradient(to right, #54b957 0%, #93ca4c 100%);
    border: 2px solid #54b957;
    letter-spacing: .3rem;
    &:before{
      content: "\f095";
      transition: rotate(180deg);
      transform: scale(-1, 1);
      padding-left: 5px;
      padding-right: 0;
    }
    &:hover{
      background: none;
      background-color: #fff;
      color: #54b957;
      &:after{
        background-color: #54b957;
      }
    }
  }
}

//システムのご案内
#section-28{
  .c-wrapper--lg{@include mq(){padding: 0;}}
  .c-inner{
    background-color: #4fb1ed;
    width: 95%;
    max-width: 1200px;
    margin: 50px auto;
    .c-heading:first-of-type{margin-bottom: 25px;}
  }
  h2{
    color: #fff;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    width: 95%;
    margin: auto;
    font-size: 2rem;
    letter-spacing: .2rem;
  }
  .row-item-gutter--lg{
    width: 97%;
    margin: auto;
    .col-xs-12{
      background-color: #fff;
      padding: 0;
      flex-basis: 32%;
      max-width: 32%;
      margin: 0 .5% 1% .5%;
      @include mq(){
        flex-basis: 100%;
        max-width: 100%;
        margin: 0 0 2%;
      }
      .grid-wrapper{
        padding:0;
        .c-heading{
          background-color: $base-color;
          padding: 15px;
          font-size: 1.6rem;
          margin-bottom: 0;
          text-align: justify;
          @include mq(){padding: 6px 20px;}
          div{color: $main-color;}
        }
        .p-m-card-text{
          padding: 20px;
          margin-bottom: 0;
          text-align: justify;
          @include mq(){padding: 6px 20px;}
        }
      }
    }
  }
}

//導入までの流れ
#section-20{
  .c-inner{padding-bottom: 85px;}
  .col-md-3{
    background-color: #fff;
    padding: 30px 0 10px;
    position: relative;
    flex-basis: 22%;
    max-width: 22%;
    margin: 25px 1.5% 20px 1.5%;
    box-shadow: 0 10px 15px rgba(34, 96, 140, 0.2);
    @include mq(){
      flex-basis: 95%;
      max-width: 95%;
      box-shadow: 0 0 15px rgba(34, 96, 140, 0.2);
    }
    &:after{
      position: absolute;
      font-family: "Font Awesome 5 Free";
      content: "\f0da";
      top: 37%;
      right: -25px;
      color: $main-color;
      font-size: 3rem;
      @include mq(){
        content: "\f0d7";
        vertical-align: top;
        display: inline-block;
        font-weight: 900;
        padding-top: 8px;
        top: auto;
        left: 0;
        right: 0;
        background-image: none;
      }
    }
    &:nth-of-type(4):after,&:last-of-type:after{
      display: none;
    }
  }
  .c-heading,.p-m-card-text{
    padding:10px 20px;
  }
  .u-mbsm{margin: 0;text-align: justify;}
  .c-heading{
    border-bottom: 2px solid $base-color;
    margin-top: -23%;
    text-align: center;
    @include mq(){margin-top: -15%;}
  }
  .row-item-gutter--lg{
    margin: 0;
  }
}

//FAQ
#section-21{
  .c-list-v--lg li + li{
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 2px dotted #d8d8d8;
  }
  .c-inner--one-elem.c-inner--lg{padding-bottom: 85px; @include mq(){padding-bottom: 30px;}}
  .c-symbol{background-color: $main-color;font-family: 'Montserrat', sans-serif;}
  .u-clearfix:nth-of-type(2) .c-symbol{background-color:#ff7bac;}
}

//form
#section-22,#section-23{
  background: $gradation;
  .c-bg-img{
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/s3.peraichi.com/userData/5d15914a-4adc-466f-b5a6-066d0a0000fe/img/5e9fc59697d60/original.png);
    background-position: right bottom;
    background-attachment: fixed;
    background-size: 40%;
  }
}
#section-22{
  @include mq(){border-radius: 0;}
  .c-heading h2,[data-structure="e-text"] div{color: #fff;}
  .c-form{
    padding: 30px;
    border-radius: 15px;
    @include mq(){padding: 20px;}
    [data-structure="e-text"] div{color: $text-color; font-weight: normal;}
  }
  .form-group{
    display: flex;
    @include mq(){display: block;}
  .control-label{}
  .form_input{}
  }
  .col-sm-3{
    flex-basis: 33%;
    max-width: 33%;
    border-left: 2px solid $main-color;
    padding-left: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 5px!important;
    background-color: #f5f5f5;
    margin-right: 10px;
  }
  .customFormGroup_ttl_required{
    vertical-align: middle;
  }
  .customFormGroup_ttl_required:after{display: none;}
  .customFormGroup_ttl_required:before {
    background-color: #d63b00;
    border-radius: 3px;
    content: "\5FC5\9808";
    color: #fff;
    font-size: 80%;
    font-weight: normal;
    margin: 0 5px 0 0;
    padding: 1px 3px;
  }
.c-form input[type="text"], .c-form input[type="email"], .c-form textarea, .c-form select{
  border:1px solid #ccc;
  border-radius: 6px;
  font-weight: normal;
}
.c-form input:placeholder-shown,
.c-form textarea:placeholder-shown{
  padding: .5rem 1rem !important;
}
.u-mblg{
  margin-bottom: 20px;
  font-weight: normal !important;
  font-size: 1.3rem !important;
}
  .c-btn{margin: auto;}
  .c-btn .btn-customform-submit{
    padding:2rem 10rem;margin: 0 auto 20px;width: 100%;
    @include mq(){padding: 2rem 0;}
  }
}

#section-23{
  .c-wrapper{max-width: 760px;}
  .c-inner{padding: 0 0 50px;}
  .p-premium-article-img-right__item{
    flex-direction: row-reverse;
    margin: auto;
  }
  .p-premium-article-img-right__item-img img {
    border: none;
    box-shadow: none;
  }
  div{color: #fff;align-items: center;}
}
@include mq(){
  #section-23{
     .col-xs-12{
       &:nth-of-type(1){flex-basis: 30%;}
       &:nth-of-type(2){flex-basis: 70%;padding-left: 0;padding-right: 0;}
     }
     .p-premium-article-img-right__item {
       flex-direction: row;
     }
   }
}

//コンバージョン
#section-24{
  background-color: $base-color;
  .c-wrapper--sm {
    max-width: 800px;
  }
  table{
    border:1px solid $main-color;
    background-color: #fff;
    th{background:$gradation;
      color: #fff;
      text-align: center !important;
      vertical-align: middle;
      font-weight: bold;
      font-size: 1.8rem;
      letter-spacing: .1rem;
    }
    td{
      padding: 20px;
      @include mq(){text-align: center !important;}
      span{@include mq(){display: block;}}
      a:before {
        font-family: "Font Awesome 5 Free";
        content: "\f095";
        vertical-align: top;
        display: inline-block;
        font-weight: 900;
        transition: rotate(180deg);
        transform: scale(-1, 1);
        padding-left: 5px;
        padding-right: 0;
        color: $main-color;
      }
    }
  }
}
@include mq(){
  #section-24{
    tr{
      display: flex;
      flex-wrap: wrap;
    }
    th,td{width: 100%;}
  }
}

//footer
#section-1{
  background: $gradation;
  div,span{
    color: #fff !important;
    line-height: 2rem;
    align-items: center;
  }
  .p-footer__inner{padding: 10px 0;}
  .p-footer__inner{
    display: flex;
    justify-content: center;
    &:before{
      padding-right: 10px;
      content: url(https://s3-ap-northeast-1.amazonaws.com/s3.peraichi.com/userData/5d15914a-4adc-466f-b5a6-066d0a0000fe/img/5e9e6b2cb6b2d/original.png);
    }
  }
}
