@charset "UTF-8";
/* color */
/* 1.breakpoint */
* { font-weight: bold; font-family: "游ゴシック", YuGothic,"Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; color: #323232; }

body { background-repeat: no-repeat !important; background-position: top center !important; background-size: cover !important; background-attachment: fixed !important; }

@media screen and (max-width: 680px) { body { background-image: none !important; } }

[data-block-name="見出し(サブタイトル付き)"] h2, [data-block-name="見出し(サブタイトル付き)"] h2 span { color: #4fb1ed; letter-spacing: .2rem; }

[data-block-name="見出し(サブタイトル付き)"] .p-heading-has-subtitle { padding: 60px 0 0 0; }

@media screen and (max-width: 680px) { [data-block-name="見出し(サブタイトル付き)"] .p-heading-has-subtitle { padding-top: 30px; } }

[data-block-name="見出し(サブタイトル付き)"] .c-heading--bdr-btm { padding-bottom: 0; border-bottom: none; margin-bottom: 0 !important; }

[data-block-name="見出し(サブタイトル付き)"] .p-heading-has-subtitle__sub { letter-spacing: .2rem; }

@media screen and (max-width: 680px) { [data-block-name="見出し(サブタイトル付き)"] .p-heading-has-subtitle__sub span { font-size: 1.8rem !important; } }

.c-btn a { animation: fluffy1 3s ease infinite; }

@keyframes fluffy1 { 0% { transform: translateY(0); }
  5% { transform: translateY(0); }
  10% { transform: translateY(0); }
  20% { transform: translateY(-15px); }
  25% { transform: translateY(0); }
  30% { transform: translateY(-15px); }
  50% { transform: translateY(0); }
  100% { transform: translateY(0); } }

.c-btn a, .btn-customform-submit { background: linear-gradient(to right, #4f9aed 0%, #4fb1ed 100%); border: 2px solid #4fb1ed; color: #fff; font-weight: bold; position: relative; margin-top: 2vw; box-shadow: 10px 10px 15px rgba(34, 96, 140, 0.2); }

@media screen and (max-width: 1000px) { .c-btn a, .btn-customform-submit { padding: 0.8em 0; width: 80%; display: flex; margin: auto; justify-content: center; } }

.c-btn a:before, .btn-customform-submit:before { font-family: "Font Awesome 5 Free"; content: "\f0e0"; vertical-align: top; display: inline-block; font-weight: 900; padding-right: 5px; font-size: 2rem; }

.c-btn a:after, .btn-customform-submit:after { position: absolute; content: ""; width: 14px; position: absolute; background-color: #fff; height: 3px; top: 50%; right: -2px; transition: all .3s; }

.c-btn a:hover, .btn-customform-submit:hover { background: none; background-color: #fff; color: #4fb1ed; }

.c-btn a:hover:after, .btn-customform-submit:hover:after { width: 24px; right: -12px; background-color: #4fb1ed; }

#section-2 .p-m_navigationMenu a { padding: 0; margin: auto 5px; }

#section-2 .p-m_navigationMenu a:hover { text-decoration: none; }

#section-2 .p-m_navigationMenu li { transition: all .3s; }

#section-2 .p-m_navigationMenu li:last-of-type:hover { border-bottom: none; padding-bottom: 0; }

#section-2 .p-m_navigationMenu li:hover { border-bottom: 3px solid #4fb1ed; padding-bottom: 3px; }

#section-2 .grid-wrapper--lg { max-width: 99%; margin-right: 0; }

#section-2 .grid-wrapper--lg ul { padding-right: 0; justify-content: flex-end; align-items: center; }

#section-2 .grid-wrapper--lg li:last-of-type a { background: linear-gradient(to right, #4f9aed 0%, #4fb1ed 100%); height: 90px; color: #fff; padding: 0 20px; margin: 0 0 0 10px; display: flex; align-items: center; }

#section-2 .grid-wrapper--lg li:last-of-type a:before { font-family: "Font Awesome 5 Free"; content: "\f0e0"; vertical-align: top; display: inline-block; font-weight: 900; padding-right: 5px; font-size: 2rem; }

#section-2 .grid-wrapper--lg li:last-of-type a:before:hover { color: #4fb1ed; }

#section-2 .grid-wrapper--lg li:last-of-type a:hover { background: none; background-color: #f0f9ff; color: #4fb1ed; transition: all .3s; text-decoration: none !important; }

@media screen and (min-width: 1px) and (max-width: 769px) { #section-2 .p-m_navigationMenu a { padding: 10px; font-size: 1.4rem; }
  #section-2 .grid-wrapper--lg li:last-of-type a { height: auto; padding: 10px; margin: 0; } }

@media screen and (min-width: 770px) { #section-2 .grid-wrapper--lg ul { display: flex; } }

#section-3 .c-bg-img { background-size: 80% !important; background-position: right !important; }

#section-3 h2 { background: linear-gradient(to right, #4f9aed 0%, #4fb1ed 100%); color: #fff; font-size: 1.4vw; padding: 10px 20px; display: inline-block; }

@media screen and (max-width: 680px) { #section-3 h2 { width: 90%; margin: auto; font-size: 3.5vw; letter-spacing: 0.2rem; text-align: center; } }

#section-3 .c-heading { margin-bottom: 0; letter-spacing: .3rem; }

@media screen and (max-width: 680px) { #section-3 .c-heading { display: flex; } }

#section-3 .u-ptxl { padding: 0 0 50px; }

@media screen and (max-width: 680px) { #section-3 .u-ptxl { padding: 40px 0 20px; background-size: cover !important; } }

#section-3 .grid-wrapper { width: 90%; max-width: 1760px; margin-right: 0; }

@media screen and (max-width: 680px) { #section-3 .grid-wrapper { width: 100%; } }

@media screen and (max-width: 680px) { #section-3 span { display: block; } }

@media screen and (max-width: 680px) { #section-3 br { display: none; } }

#section-3 [data-custom-pc-fontsize="36px"] { font-size: 3.7vw !important; letter-spacing: .2rem; line-height: 5vw; }

@media screen and (max-width: 680px) { #section-3 [data-custom-pc-fontsize="36px"] { font-size: 8vw !important; padding-bottom: 6.6vw; padding-left: 7vw; } }

#section-3 .col-sm-7 { flex-basis: 43%; max-width: 43%; z-index: 2; }

@media screen and (max-width: 680px) { #section-3 .col-sm-7 { flex-basis: 100%; max-width: 100%; } }

#section-3 .col-sm-5 { flex-basis: 57%; max-width: 57%; margin-left: -3%; z-index: 1; margin-top: 10px; }

@media screen and (max-width: 680px) { #section-3 .col-sm-5 { flex-basis: 100%; max-width: 100%; margin-top: -17vw; } }

#section-3 .p-premium-main__img img { border: none; box-shadow: none; background-color: rgba(0, 0, 0, 0); -webkit-transform: none; -ms-transform: none; transform: none; }

@media screen and (max-width: 680px) { #section-3 .p-premium-main__img img { width: 80%; } }

#section-3 .p-premium-main__img-wrapper { padding: 0; margin-right: -7%; }

@media screen and (max-width: 680px) { #section-3 .p-premium-main__img-wrapper { margin-bottom: 0; margin-right: 0; } }

#section-3 .u-mbmd { color: #323232; margin: 30px 0; line-height: 2.3vw; }

@media screen and (max-width: 680px) { #section-3 .u-mbmd { margin: 40px 0 20px; text-align: center; line-height: 2rem; } }

#section-3 .u-mbmd [data-custom-pc-fontsize="16px"] { font-size: 1.3vw !important; }

@media screen and (max-width: 680px) { #section-3 .u-mbmd [data-custom-pc-fontsize="16px"] { font-size: 3.4vw !important; } }

#section-4 .c-wrapper--sm { max-width: 1200px; width: 80%; }

@media screen and (max-width: 680px) { #section-4 .c-wrapper--sm { width: 100%; } }

#section-4 th { background: linear-gradient(to right, #4f9aed 0%, #4fb1ed 100%); color: #fff; vertical-align: middle; text-align: center !important; font-size: 2rem; letter-spacing: .3rem; position: relative; padding: 0 50px; }

#section-4 th:before { content: ""; position: absolute; top: 50%; left: 100%; margin-top: -6px; border: 6px solid transparent; border-left: 6px solid #4fb1ed; }

@media screen and (max-width: 680px) { #section-4 th:before { margin-top: 0; border-left: 6px solid transparent; border-top: 6px solid #4fb1ed; left: 47%; top: 100%; } }

#section-4 td { background-color: #f1f4f4; line-height: 3rem; font-weight: normal; padding: 20px 20px 20px 30px; }

@media screen and (max-width: 680px) { #section-4 td { padding: 10px; line-height: 2.5rem; font-size: 1.3rem; } }

#section-4 td a { text-decoration: none !important; background-color: #fff; padding: 5px 10px; box-shadow: 1px 1px #b3b3b3; border-radius: 6px; display: inline-block; }

#section-4 td a:hover { background-color: #fffab9; }

@media screen and (max-width: 988px) { #section-4 br { display: none; }
  #section-4 th { padding: 10px 0; font-size: 1.6rem; } }

#section-6 .c-inner { padding: 30px 0 50px; }

#section-6 .c-wrapper { max-width: 700px; }

#section-6 .col-md-4 { position: relative; }

#section-6 .col-md-4:after { font-family: "Font Awesome 5 Free"; content: "\f00d"; vertical-align: top; display: inline-block; font-weight: 900; padding-right: 5px; right: -6%; position: absolute; top: 19%; font-size: 3rem; color: #4fb1ed; }

#section-6 .col-md-4:last-of-type:after { display: none; }

@media screen and (max-width: 680px) { #section-6 [data-structure="e-text"] { text-align: center; }
  #section-6 [data-structure="e-text"] div { display: inline; } }

#section-14 .c-wrapper, #section-15 .c-wrapper, #section-16 .c-wrapper { max-width: 1100px; }

#section-14 .center-xs, #section-15 .center-xs, #section-16 .center-xs { margin: 0; }

#section-14 .col-xs-12, #section-15 .col-xs-12, #section-16 .col-xs-12 { background-color: #fff; box-shadow: 0 10px 15px rgba(34, 96, 140, 0.2); padding: 0; border-top: 2px solid #4fb1ed; margin: 0 1.5% 2% 1.5%; flex-basis: 30%; max-width: 30%; }

@media screen and (max-width: 680px) { #section-14 .col-xs-12, #section-15 .col-xs-12, #section-16 .col-xs-12 { margin: 0 0 4%; flex-basis: 100%; max-width: 100%; } }

@media screen and (max-width: 680px) { #section-14 .col-xs-12 [data-structure="e-text"] div, #section-15 .col-xs-12 [data-structure="e-text"] div, #section-16 .col-xs-12 [data-structure="e-text"] div { display: inline; } }

#section-14 .c-heading, #section-14 .p-m-card-text, #section-15 .c-heading, #section-15 .p-m-card-text, #section-16 .c-heading, #section-16 .p-m-card-text { padding: 0 25px; }

#section-14 .c-heading, #section-15 .c-heading, #section-16 .c-heading { font-size: 2rem; letter-spacing: .2rem; margin-bottom: 10px; }

#section-14 .c-heading h2, #section-15 .c-heading h2, #section-16 .c-heading h2 { padding-bottom: 35px; line-height: 3.7rem; }

@media screen and (max-width: 680px) { #section-14 .c-heading h2, #section-15 .c-heading h2, #section-16 .c-heading h2 { line-height: 2.5rem; } }

@media screen and (max-width: 680px) { #section-14 .c-heading h2 div, #section-15 .c-heading h2 div, #section-16 .c-heading h2 div { display: inline; } }

#section-15 .p-m-card-text div, #section-16 .p-m-card-text div { text-align: justify !important; }

#section-7, #section-14, #section-8, #section-15 { background-color: #f0f9ff; }

#section-17 [data-structure="e-text"] { line-height: 3rem; }

#section-17 .c-wrapper { max-width: 850px; }

#section-17 .col-sm-5 { max-width: 60%; }

@media screen and (max-width: 680px) { #section-17 .col-sm-5 { max-width: 80%; margin: auto; } }

#section-17 .c-img--responsive { box-shadow: 100px 20px 0 #f0f9ff; margin-bottom: 20px; }

#section-17 .col-sm { margin: auto; }

@media screen and (max-width: 680px) { #section-17 .col-sm { text-align: center; } }

#section-17 .c-btn a { background: none; background-color: #fff; color: #4fb1ed; border: 2px solid #4fb1ed; box-shadow: 0 10px 15px rgba(34, 96, 140, 0.2); }

#section-17 .c-btn a:before, #section-17 .c-btn a:after { display: none; }

#section-17 .c-btn a:hover { background: linear-gradient(to right, #4f9aed 0%, #4fb1ed 100%); background-color: rgba(0, 0, 0, 0); color: #4fb1ed; box-shadow: none; color: #fff; transition: all .3s; }

#section-30 { background-color: #f0f9ff; }

#section-30 .c-wrapper { max-width: 934px; }

#section-30 .c-inner { padding-top: 0; padding-bottom: 1px; }

#section-30 thead { display: none; }

#section-30 tbody tr td:nth-of-type(1) { background-color: #f1f4f4; }

#section-30 tbody tr:first-of-type td:nth-of-type(1) { background-color: transparent; border-top: none; }

#section-30 tbody tr:first-of-type td:nth-of-type(2) { background-color: #4fb1ed; }

#section-30 tbody tr:first-of-type td:nth-of-type(2) p { color: #fff; }

#section-30 tbody tr:first-of-type td:nth-of-type(3) { background-color: #8cc63f; }

#section-30 tbody tr:first-of-type td:nth-of-type(3) p { color: #fff; }

#section-30 .c-tr--bdr th, #section-30 .c-tr--bdr td { border-color: #4fb1ed; border-right: none; vertical-align: middle; background-color: #fff; }

#section-30 .c-tr--bdr th:first-of-type, #section-30 .c-tr--bdr td:first-of-type { border-left: none; }

@media screen and (max-width: 680px) { #section-30 .c-tr--bdr th:first-of-type, #section-30 .c-tr--bdr td:first-of-type { width: 30% !important; padding: 3px; } }

#section-30 .c-tr--bdr th:nth-child(n+4), #section-30 .c-tr--bdr td:nth-child(n+4) { display: none; }

#section-30 .c-tr--bdr th p, #section-30 .c-tr--bdr td p { margin-bottom: 0; }

@media screen and (max-width: 680px) { #section-30 tr { display: flex; }
  #section-30 .p-table-schedule__td:before { display: none; }
  #section-30 .p-table-schedule__td-text { width: 100%; padding: 5px; } }

#section-10, #section-18, #section-26, #section-27 { background-color: #f0f9ff; }

#section-26 .c-wrapper { max-width: 935px; }

#section-26 .c-inner { background-color: #f5f5f5; padding: 20px; text-align: center; border: 1px solid #4fb1ed; line-height: 2.6rem; }

#section-26 .c-inner a { text-decoration: none !important; background-color: #fff; padding: 5px 10px; box-shadow: 1px 1px #b3b3b3; border-radius: 6px; }

#section-26 .c-inner a:hover { background-color: #fffab9; }

#section-18 h2 { border-left: 4px solid #4fb1ed; padding-left: 10px; line-height: 1.6rem; }

#section-18 .c-border { background-color: #fff; border-radius: 30px; border: none; }

#section-27 h2 span { font-weight: normal; }

#section-27 strong span { font-weight: bold; }

#section-27 .c-btn--sm a { width: 100%; padding: 15px 0; }

#section-27 .col-xs-12:nth-of-type(2) .c-btn a { background: linear-gradient(to right, #54b957 0%, #93ca4c 100%); border: 2px solid #54b957; letter-spacing: .3rem; }

#section-27 .col-xs-12:nth-of-type(2) .c-btn a:before { content: "\f095"; transition: rotate(180deg); transform: scale(-1, 1); padding-left: 5px; padding-right: 0; }

#section-27 .col-xs-12:nth-of-type(2) .c-btn a:hover { background: none; background-color: #fff; color: #54b957; }

#section-27 .col-xs-12:nth-of-type(2) .c-btn a:hover:after { background-color: #54b957; }

@media screen and (max-width: 680px) { #section-28 .c-wrapper--lg { padding: 0; } }

#section-28 .c-inner { background-color: #4fb1ed; width: 95%; max-width: 1200px; margin: 50px auto; }

#section-28 .c-inner .c-heading:first-of-type { margin-bottom: 25px; }

#section-28 h2 { color: #fff; border-bottom: 1px solid; padding-bottom: 10px; width: 95%; margin: auto; font-size: 2rem; letter-spacing: .2rem; }

#section-28 .row-item-gutter--lg { width: 97%; margin: auto; }

#section-28 .row-item-gutter--lg .col-xs-12 { background-color: #fff; padding: 0; flex-basis: 32%; max-width: 32%; margin: 0 .5% 1% .5%; }

@media screen and (max-width: 680px) { #section-28 .row-item-gutter--lg .col-xs-12 { flex-basis: 100%; max-width: 100%; margin: 0 0 2%; } }

#section-28 .row-item-gutter--lg .col-xs-12 .grid-wrapper { padding: 0; }

#section-28 .row-item-gutter--lg .col-xs-12 .grid-wrapper .c-heading { background-color: #f1f4f4; padding: 15px; font-size: 1.6rem; margin-bottom: 0; text-align: justify; }

@media screen and (max-width: 680px) { #section-28 .row-item-gutter--lg .col-xs-12 .grid-wrapper .c-heading { padding: 6px 20px; } }

#section-28 .row-item-gutter--lg .col-xs-12 .grid-wrapper .c-heading div { color: #4fb1ed; }

#section-28 .row-item-gutter--lg .col-xs-12 .grid-wrapper .p-m-card-text { padding: 20px; margin-bottom: 0; text-align: justify; }

@media screen and (max-width: 680px) { #section-28 .row-item-gutter--lg .col-xs-12 .grid-wrapper .p-m-card-text { padding: 6px 20px; } }

#section-20 .c-inner { padding-bottom: 85px; }

#section-20 .col-md-3 { background-color: #fff; padding: 30px 0 10px; position: relative; flex-basis: 22%; max-width: 22%; margin: 25px 1.5% 20px 1.5%; box-shadow: 0 10px 15px rgba(34, 96, 140, 0.2); }

@media screen and (max-width: 680px) { #section-20 .col-md-3 { flex-basis: 95%; max-width: 95%; box-shadow: 0 0 15px rgba(34, 96, 140, 0.2); } }

#section-20 .col-md-3:after { position: absolute; font-family: "Font Awesome 5 Free"; content: "\f0da"; top: 37%; right: -25px; color: #4fb1ed; font-size: 3rem; }

@media screen and (max-width: 680px) { #section-20 .col-md-3:after { content: "\f0d7"; vertical-align: top; display: inline-block; font-weight: 900; padding-top: 8px; top: auto; left: 0; right: 0; background-image: none; } }

#section-20 .col-md-3:nth-of-type(4):after, #section-20 .col-md-3:last-of-type:after { display: none; }

#section-20 .c-heading, #section-20 .p-m-card-text { padding: 10px 20px; }

#section-20 .u-mbsm { margin: 0; text-align: justify; }

#section-20 .c-heading { border-bottom: 2px solid #f1f4f4; margin-top: -23%; text-align: center; }

@media screen and (max-width: 680px) { #section-20 .c-heading { margin-top: -15%; } }

#section-20 .row-item-gutter--lg { margin: 0; }

#section-21 .c-list-v--lg li + li { margin-top: 1rem; padding-top: 1rem; border-top: 2px dotted #d8d8d8; }

#section-21 .c-inner--one-elem.c-inner--lg { padding-bottom: 85px; }

@media screen and (max-width: 680px) { #section-21 .c-inner--one-elem.c-inner--lg { padding-bottom: 30px; } }

#section-21 .c-symbol { background-color: #4fb1ed; font-family: 'Montserrat', sans-serif; }

#section-21 .u-clearfix:nth-of-type(2) .c-symbol { background-color: #ff7bac; }

#section-22, #section-23 { background: linear-gradient(to right, #4f9aed 0%, #4fb1ed 100%); }

#section-22 .c-bg-img, #section-23 .c-bg-img { background-image: url(https://s3-ap-northeast-1.amazonaws.com/s3.peraichi.com/userData/5d15914a-4adc-466f-b5a6-066d0a0000fe/img/5e9fc59697d60/original.png); background-position: right bottom; background-attachment: fixed; background-size: 40%; }

@media screen and (max-width: 680px) { #section-22 { border-radius: 0; } }

#section-22 .c-heading h2, #section-22 [data-structure="e-text"] div { color: #fff; }

#section-22 .c-form { padding: 30px; border-radius: 15px; }

@media screen and (max-width: 680px) { #section-22 .c-form { padding: 20px; } }

#section-22 .c-form [data-structure="e-text"] div { color: #323232; font-weight: normal; }

#section-22 .form-group { display: flex; }

@media screen and (max-width: 680px) { #section-22 .form-group { display: block; } }

#section-22 .col-sm-3 { flex-basis: 33%; max-width: 33%; border-left: 2px solid #4fb1ed; padding-left: 10px !important; padding-top: 10px !important; padding-bottom: 5px !important; background-color: #f5f5f5; margin-right: 10px; }

#section-22 .customFormGroup_ttl_required { vertical-align: middle; }

#section-22 .customFormGroup_ttl_required:after { display: none; }

#section-22 .customFormGroup_ttl_required:before { background-color: #d63b00; border-radius: 3px; content: "\5FC5\9808"; color: #fff; font-size: 80%; font-weight: normal; margin: 0 5px 0 0; padding: 1px 3px; }

#section-22 .c-form input[type="text"], #section-22 .c-form input[type="email"], #section-22 .c-form textarea, #section-22 .c-form select { border: 1px solid #ccc; border-radius: 6px; font-weight: normal; }

#section-22 .c-form input:placeholder-shown, #section-22 .c-form textarea:placeholder-shown { padding: .5rem 1rem !important; }

#section-22 .u-mblg { margin-bottom: 20px; font-weight: normal !important; font-size: 1.3rem !important; }

#section-22 .c-btn { margin: auto; }

#section-22 .c-btn .btn-customform-submit { padding: 2rem 10rem; margin: 0 auto 20px; width: 100%; }

@media screen and (max-width: 680px) { #section-22 .c-btn .btn-customform-submit { padding: 2rem 0; } }

#section-23 .c-wrapper { max-width: 760px; }

#section-23 .c-inner { padding: 0 0 50px; }

#section-23 .p-premium-article-img-right__item { flex-direction: row-reverse; margin: auto; }

#section-23 .p-premium-article-img-right__item-img img { border: none; box-shadow: none; }

#section-23 div { color: #fff; align-items: center; }

@media screen and (max-width: 680px) { #section-23 .col-xs-12:nth-of-type(1) { flex-basis: 30%; }
  #section-23 .col-xs-12:nth-of-type(2) { flex-basis: 70%; padding-left: 0; padding-right: 0; }
  #section-23 .p-premium-article-img-right__item { flex-direction: row; } }

#section-24 { background-color: #f1f4f4; }

#section-24 .c-wrapper--sm { max-width: 800px; }

#section-24 table { border: 1px solid #4fb1ed; background-color: #fff; }

#section-24 table th { background: linear-gradient(to right, #4f9aed 0%, #4fb1ed 100%); color: #fff; text-align: center !important; vertical-align: middle; font-weight: bold; font-size: 1.8rem; letter-spacing: .1rem; }

#section-24 table td { padding: 20px; }

@media screen and (max-width: 680px) { #section-24 table td { text-align: center !important; } }

@media screen and (max-width: 680px) { #section-24 table td span { display: block; } }

#section-24 table td a:before { font-family: "Font Awesome 5 Free"; content: "\f095"; vertical-align: top; display: inline-block; font-weight: 900; transition: rotate(180deg); transform: scale(-1, 1); padding-left: 5px; padding-right: 0; color: #4fb1ed; }

@media screen and (max-width: 680px) { #section-24 tr { display: flex; flex-wrap: wrap; }
  #section-24 th, #section-24 td { width: 100%; } }

#section-1 { background: linear-gradient(to right, #4f9aed 0%, #4fb1ed 100%); }

#section-1 div, #section-1 span { color: #fff !important; line-height: 2rem; align-items: center; }

#section-1 .p-footer__inner { padding: 10px 0; }

#section-1 .p-footer__inner { display: flex; justify-content: center; }

#section-1 .p-footer__inner:before { padding-right: 10px; content: url(https://s3-ap-northeast-1.amazonaws.com/s3.peraichi.com/userData/5d15914a-4adc-466f-b5a6-066d0a0000fe/img/5e9e6b2cb6b2d/original.png); }
